table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

table td {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
}

table td > svg {
    vertical-align: middle;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: black;
}

.virhe {
    background-color: #FF2010;
    padding: 0.1em;
    margin: 0.2em;
}

.nappula-lkm {
    font-size: 1.5em;
}

fieldset div {
    margin-top: 0.5em;
}

#vuoro-osoitin {
    float: right;
    position: fixed;
    right: 1em;
    bottom: 1em;
}

#voitto-ilmoitus {
    text-align: center;
    position: fixed;
    bottom: 1em;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.punainen {
    color: red;
}

.sininen {
    color: blue;
}
